<div class="about-section">
  <div style="width:30%">
    <div class="circle"><h1>{{initial}}</h1></div>
    <p></p>
    <h1>{{firstName}} {{lastName}}</h1>
    <h4>Team Techgig</h4>
    <p></p>
  </div>
  <div class="card" style="width:70%">
   
    <h6>A tool to help employees view/update their details and listen to employee name pronunciation.</h6>
    <p></p>
    <p>
  The features of the application are<p>
  <ul>
    <li>Listen to employee's name pronunciation</li>
    <li>Record custom pronunciation for your name </li>
    <li>Register new employee</li>
    <li>Add a name which you prefer to be called</li>
  </ul>
  </div>
  </div>

 