<div class="title">
  <h2 style="color: white">Name Pronunciation tool</h2>
 </div>
 <div style="margin-top:-22px;margin-bottom:-22px"> <hr style="border: 5px solid gold;border-radius:2px;"></div>

<div class="my-navbar">
<nav class="navbar navbar-expand-sm" style="height:50px;display: flex;justify-content:space-between" class="navbar navbar-expand-sm bg-dark navbar-dark">

<div>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]="['/about-me']" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/employee-list']" class="nav-link" >Employee list</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/add-employee']" class="nav-link">Add Employee</a>
    </li>
  </ul>
</div>
  <div>
    <button type="submit" class="btn navbar-btn btn-danger" name="logout" id="logout" *ngIf="userLoggedin" (click)="logout()" value="Logout">Logout</button>     
  &nbsp;
  </div>
</nav>

<router-outlet></router-outlet>
</div>
