/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.loader {
    position: relative;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 70px;
    height: 70px;
    left:50%;
    top:50%;
    -webkit-animation: spin 4s linear infinite; /* Safari */
    animation: spin 4s linear infinite;
  }
  #overlay{
      position: fixed;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%;
      background: black;
      opacity: .5;
  }
  .container{
      position:relative;
      height: 300px;
      width: 200px;
      border:1px solid
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }